body {
	font-size: .85em;
	font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
	color: #232323;
	background-color: #fff;
}

header, footer, nav, section {
	display: block;
}


.projectlist th
{
border:1px solid black;
text-align:center;
padding:1px 2px 1px 2px;
font-size:12pt;
background-color: #FFE600;
}

.projectlist {
	clear:left;
}

.projectlist td
{    
	border:1px solid #CCCCCC;
	text-align: center;
	padding: 2px 0px 0px 2px;
	height:30px;
	font-size:10pt;
}

.projdetails td {
	margin-right:100px;
	margin-bottom:50px;
}

.tasklist th 
{
border:1px solid black;
text-align:center;
padding:1px 2px 1px 2px;
font-size:11pt;	
background-color: #FFE600;
}

.tasklist td 
{
	border:1px solid #CCCCCC;
	text-align: center;
	padding: 2px 0px 0px 2px;
	height:30px;
	font-size:9pt;
	
}

input[type="button"], input[type="submit"]
{
	border-style: solid;
	border-width: 1px;
	border-color: black;
	background-color: #E7E2E7;
	color: black;
	font-size: 11pt;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
	border: 1px solid #ddd;
	padding: 0 1.4em 1.4em 1.4em;
	margin: 0 0 1.5em 0;
}

legend {
	font-size: 1.2em;
	font-weight: bold;
}

textarea {
	min-height: 75px;
}

.editor-label {
	margin: 1em 0 0 0;
}

.editor-field {
	margin: 0.5em 0 0 0;
}

.display-label 
{
	border: none;
	text-decoration: underline;
	font-weight: bold;
	margin: 2em 0 5px 0;
	width:100px;	
}

.display-field {
	margin: 5px 0 5px 0;
	padding-top: 10px;
	color:Teal;
	font-weight:bold;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
	color: #f00;
}

.field-validation-valid {
	display: none;
}

.input-validation-error {
	border: 1px solid #f00;
	background-color: #fee;
}

.validation-summary-errors {
	font-weight: bold;
	color: #f00;
}

.validation-summary-valid {
	display: none;
}
